<div class="container-fluid header-container-2">    
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-header" href="#">
        <img src="assets/img/nomad-logo-white.png" width="200px" alt="Nomad Logo">
      </a>
    </nav>
      <img src="assets/img/log-in.png" width="300px" alt="Sign-up text" class="header-bg-2">  
</div>

</div>
    <div class="container form-container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2>Log Into Your Account</h2>
          <p>Your trip information is a click away!</p>
          <form class="login">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="email-input" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <div style="display: none" id="alert" class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span> <span class="msg"></span>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>

<script src="./js/login.js"></script>