@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(31,164,161);
  background: linear-gradient(90deg, rgba(31,164,161,1) 0%, rgba(53,175,177,1) 33%, rgba(93,194,208,1) 100%);
}

/* header */
.header-container {
  background-image: 
}

/* nav */
.navbar {
  justify-content: center;
  padding: 1em;
}

.navbar-brand img {
  margin: 0;
}

/* forms */
form.signup,
form.login {
  margin-top: 50px;
}
